@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: white;
    width: 100%;
}

.social {
    display: none;
    justify-content: end;
    align-items: center;
    height: 2rem;
    gap: 1rem;
    background-color: #3E3E3E;
    padding-right: 10rem;
}

.social a {
    font-size: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}

.nav-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0.5rem 1.5rem;
    gap: 4rem;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cancel-icon {
    display: none;
}

.pages {
    display: none;
}

.hero-section-container {
    background-color: white;
    background-image: url("Assets/Background.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section-container {
    display: flex;
    flex-direction: column;
    padding: 0rem 0.5rem;
}

.hero-section-container h1 {
    font-family: Lato;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    color: #FF5438;
    padding: 7rem 0.5rem 0.3rem;
}

.hero-heading {
    font-family: Lato;
    font-style: normal;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.03rem;
    padding-bottom: 1.2rem;
    padding: 0rem 0.5rem 1rem;
}

.hero-section p {
    font-family: Lato;
    font-style: normal;
    font-size: 12px;
    padding: 0.8rem;
    color: #515151;
    line-height: 17px;
    letter-spacing: -0.12px;
    border: 0.3rem solid white;
    background-color: #F8F8F8;
}

.event-date {
    font-family: Gothic A1;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    color: #595959;
    letter-spacing: -1.6px;
    padding: 2rem 0.5rem 0.2rem;
}

.event-venue {
    color: #868686;
    font-size: 13px;
    font-family: Gothic A1;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.26px;
    padding: 0.2rem 0.5rem 5rem;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    background-image: url(./Assets/MainBackground.svg);
    color: white;
    padding: 1rem 0.5rem;
}

.main-section hr {
    width: 50px;
}

.main-section h2 {
    font-size: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.8px;
}

.program {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    align-items: center;
    gap: 1.5rem;
    background-color: #3b3e45bc;
    margin: 0.2rem;
    padding: 0.8rem 0.5rem;
}

.program h3 {
    color: #FF5438;
    font-size: 14.271px;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    line-height: 24.975px;
    letter-spacing: -0.143px;
    width: 50px;
}

.program p {
    color: #FFF;
    font-size: 10.703px;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    line-height: 22.299px;
    letter-spacing: 0.642px;
}